<% if signed_in? %>
	<ul><li><%= link_to "browse", users_path %></li>
		<li><%= link_to "profile", current_user %></li>
		<li><%= link_to "cheqs", cheqeds_user_path(current_user) %></li>
		<!--<li><%= link_to "settings", edit_user_path(current_user) %></li>-->
		<li><%= link_to "log out", signout_path, :method => :delete %></li>
	</ul>
<% else %>
	<%= form_for(:session, :url => sessions_path) do |f| %>
		<%= f.text_field :email %>
		<%= f.password_field :password %>
		<%= f.submit "log in" %>
	<% end %>
<% end %>
<h1><a href="/"><span>cheq</span>.it</a></h1>
